html {
  background-color: lightblue;
}

ul {
  list-style-type: none;
}

.chat {
  margin-top: 5rem;
}

.chatMessage {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
  display: table;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-bottom: 0.5rem solid #ccc;
}

.imageHolder {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
}
